@charset "UTF-8";

.container_hm{
	display: flex;
	
}
.hotel_list{
	display: content;
}

.hotel_content {
	display: flex;
	border: 1px solid black;
	width: 700px; 
	height: 170px;
}


.hotel_img {
	border: 1px solid black;
	width: 250px;
	height: 170px;
	
}

.hotel_img img {
	width: 100%;
	height: 100%;
}

.hotel_info{
	margin : 15pt;
	width: 450px;
	}

#hm_map {
	margin-left: 20pt;
	width: 1300px;
	height: 900px;
}