@charset "UTF-8";

.drink-detail-content {
	width: 50%;
	border: 1px solid gray;
	margin-left: auto;
	margin-right: auto;
}

.drink-detail-content td {
	border: 1px solid gray;
}

.td1 {
	width: 10%;
}

.review-create {
	width: 50%;
}

.review-button {
	width: 5%;
	font-size: 5pt;
}

button {
	display: block;
	width: 50px;
	height: 25px;
	text-decoration: none;
	text-align: center;
	border: 1px solid grey;
	color: white;
	background: #166cea;
	opacity: 0.8;
	border-radius: 50px;
	box-shadow: 5px 10px 8px grey;
}