@charset "EUC-KR";

.quick_menu{
	position : absolute;
	margin-top : 5%;
	width: 230px;
	height: 350px;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	opacity: 0;
	transition : all 0.5s;
	z-index : -5;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	margin-left: 85%;
}
.quick_menu a{
	padding-left : 80px;
	position: absolute;
	text-decoration: none;
	color: white;
	font-size: 25px;
	}
.quick_menu:target {
	opacity : 1;
	position:fixed;
	z-index: 150;
}
.quick-area{
	 display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 10px;
}
.quick_icon{
	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: space-around;
  	border-radius: 15px;
}
.quick_icon img{
	width: 50px;
	height: 50px;
	
}
.quick_icon:hover {
  background-color: #ececec;
}
.quick_icon span {
	font-size : 15px;
  margin-top : 5px;
  margin-left: 5px;
}
