@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
width: 0;
height: 0;
}

.signup-window{
	position: fixed;
	margin-top: 2%;
	margin-left : 40%;
	display : grid;
	justify-content : center;
	width: 21%;
	height: 90%;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	
}

.container-reg{
	background-image : url('img/landscape.JPG');
	background-size: cover;
	width : 100%;
	height: 100%;
	position:absolute;
}
.item1-reg{
	position : relative;
	font-size: 20px;
	font-weight: bold;
	padding-top : 10px;
	margin-bottom : 20px;
	color: black;
}
.item1-reg-question{
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}

.item2-reg-addr{
	height: 20px;
}
.item2-reg input {
	font-family: 'Noto Sans KR', sans-serif;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px;
	outline: none;
	color: black;
	font-weight: bold;
	top: 20px;
	padding: 0px 0px 10px 0px;
}
.item2-reg input::placeholder{
	font-size: 15px;
	text-align: center;
}
.item2-reg select{
	width: 70%;
	height: 20px;
	font-size: 15px;
	margin-bottom: 50px;
	
}
.signup_btn{
	width: 50%; height: 50px;
	background:#166cea;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 20px;
}
.signupCancel_btn{
	margin-top : 20px;
	width: 50%; height: 50px;
	background:#ff1e1e;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 20px;
}
.items-reg-question{
	height:200px;
	position: relative;
}
.item2-reg-gender {
	display: flex;
	justify-content: center;
	border: none;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
}
.item2-reg-gender label{
	padding-right: 10px;
}
.item2-reg-birth{
	display: flex;
	justify-content: center;
}
.item2-reg-birth select{
	width: 30%;
}
.item2-reg-birth a{
	padding-right: 10px;
}
.birth_box{
	border: none;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
}
.addr_box{
	border: none;
	border-bottom: 1px solid #999;
	padding-bottom: 30px;
}
#question_selectbox{
	width: 100%;
}