@charset "UTF-8";

.gh-container {
	background: rgb(172, 135, 246);
	background: linear-gradient(103deg, rgba(172, 135, 246, 1) 0%,
		rgba(132, 167, 137, 1) 31%, rgba(92, 193, 33, 1) 50%,
		rgba(188, 212, 13, 1) 73%, rgba(255, 247, 131, 1) 99%);
}
/* 검색창 부분(rentshop.jsp */
.gh-search {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

select[name="searchOption"] {
	color: white;
	margin-top: 15px;
	margin-left: 20px;
	background: transparent;
	border: 0 none;
	outline: 0 none;
	font-size: 15px;
}

input[name="searchText"] {
	background-color: transparent;
	border: 3px solid white;
	padding: 5px 10px;
	font-size: 14px;
	color: white;
	border-radius: 50px;
	width: 400px;
	height: 50px;
}

.gh-search-button {
	width: 40px;
	height: 20px;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	color: white;
	font-size: 15px;
	text-align: center;
	margin-left: 5px;
}

.gh-translate{
	border-radius: 25px;
	border:none;
	background-color: white;
	width: 70px;
	height: 40px;
	
}


/* contentPage + detailPage */
.gh-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}


/* contentPage */
.gh-contentPage {
	margin-right: 5px;
}

.rentShopList {
	border-radius: 25px;
	margin-bottom: 7px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 500px;
	height: 130px;
	padding-top: 10px;
	box-shadow: 0px 0px 10px rgba(10,10,10,0.2);
}

.rentShopList_item {
	padding-left: 40px;
}

.rentShopList_item a{
	text-decoration: none;
	color: black;
	font-size: 13pt;
	font-weight: bold;
}

/* detailPage */
.gh-detailPage {
	border-radius: 25px;
	margin-left: 5px;
	width: 700px;
	height: 2050px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 10px rgba(10,10,10,0.2);
	padding: 25px;
	
}

.gh-detail{
}

#gh_map{
	border-radius: 25px;
	margin-right:25px;
	box-shadow: 0px 0px 10px rgba(10,10,10,0.2);
}

.gh-write-review {
	
}

select[name="rentGrade"] {
	color: #eba439;
	background-color: white;
	border-radius: 25pt;
	border:none;
	font-size: 13pt;
}

.gh-review-car {
	width: 650px;
	resize: none;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 25px;
	text-indent: 20px;
}

.gh-review-write {
	width: 650px;
	height: 150px;
	resize: none;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 25px;
	text-indent: 20px;
}

gh-review-car::-webkit-input-placeholder{
	text-indent: 20px;
}

gh-review_write::-webkit-input-placeholder{
	text-indent: 20px;
}

.gh-star{
	color: #eba439;
}

.gh-rent-reviews {
}

.gh-review{
	width: 650px;
	height: 200px;
	
}

.pageInfo{
	width: 500px;
}
